@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');

body {
    font-family: 'Comfortaa', 'Patrick Hand', 'Indie Flower';
}


input,
button,
video:focus,
button:focus {
    outline: none;
}

p {
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

@media (max-width: 767px) {

    .header .ant-row-flex {
        flex-direction: column;
        align-items: flex-start;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

nav ul {
    display: flex;
}

@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0 0 10px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    nav ul.d-none {
        display: none;
    }
}

@media (max-width: 767px) {
    nav {
        width: 100%;
    }
}

nav ul li a {
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    display: block;
}

@media (max-width: 767px) {
    nav ul li a {
        padding: 5px 20px;
    }
}

.ant-carousel .slick-slide {
    height: 460px;
    text-align: center;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

img {
    max-width: 100%;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.ant-carousel .slick-slide img {
    width: 100%;
}

.ant-carousel .slick-slide img,
.home-carousel,
.ant-carousel .slick-slide {
    height: 80vh;
}

@media (max-width: 767px) {
    .home-carousel,
    .ant-carousel .slick-slide img,
    .ant-carousel .slick-slide {
        height: 100vh;
    }
}


.header {
    position: relative;
}

.nav_toggle_menu {
    position: absolute;
    top: 40px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    background: transparent;
    border: none;
}

@media (max-width: 767px) {
    .nav_toggle_menu {
        display: block;
    }
}

.nav_toggle_menu svg {
    width: 20px;
    height: 20px;
    color: white;
}

.footer {
    padding: 10px 0;
}

.footer ul {
    display: flex;
}

.footer ul li a {
    color: white;
    font-size: 1rem;
    padding: 10px;
    display: block;
}

.footer ul li a svg {
    width: auto;
    height: 16px;
}

.footer p {
    color: white;
}

.facebook:hover {
    color: #4267b2;
}

.instagram:hover {
    color: #cb2d8a;
}

.twitter:hover {
    color: #53a8e7;
}

.linkedin:hover {
    color: #005e8e;
}

.youtube:hover {
    color: #f80000;
}

@media (max-width: 767px) {
    .footer .ant-row-flex {
        flex-direction: column;
        text-align: center;
    }
}



.features-card {
    background: #ddd;
    border-radius: 7px;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
}

.features-card img {
    max-width: 150px;
}



.flipping-card {
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 430px;
    width: 100%;
    margin: 20px 0;
}

@media (max-width: 991px) {
    .flipping-card {
        margin: 7px 0;
    }
}

@media (max-width: 767px) {
    .flipping-card {
        height: 470px;
    }
}

@media (max-width: 575px) {
    .flipping-card {
        height: 300px;
    }
}

.flipping-card .card-front,
.flipping-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    backface-visibility: hidden;
    transition: transform ease 500ms;
}

.flipping-card.flipped .card-front {
    transform: rotateY(180deg);
    display: block;
}

.flipping-card.flipped .card-back {
    transform: rotateY(0deg);
}

.flipping-card .card-front {
    z-index: 2;
    transform: rotateY(0deg);
    max-width: 100%;
}
.flipping-card .card-back {
    transform: rotateY(-180deg);
    padding: 20px;
    font-size: 20px;
}

.flipping-card-icon {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    margin: -50px auto 10px;
    text-align: center;
    position: relative;
}

.flipping-card-icon svg {
    margin-top: 25%;
    height: 50%;
    color: white;
}

.flipping-card h2 {
    text-align: center;
    margin-bottom: 50px;
}

.card-front img {
    height: 300px;
    width: 100%;
}

@media (max-width: 575px) {
    .card-front img {
        height: 175px;
    }
}


.section-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.section-heading h2 {
    font-weight: 700;
    font-size: 1.75rem;
}

.section-heading p {
    color: #1c1c1c;
}

.owl-item .item {
    background: white;
    padding: 30px 20px;
    border-radius: 7px;
}

.owl-item .item svg {
    margin-right: 10px;
}

.review-star {
    display: flex;
    align-items: center;
    background: orange;
    color: white;
    padding: 0 7px;
    border-radius: 7px;
    margin-top: 10px;
}

.review-star svg {
    margin-right: 2px !important;
}


.primary-btn {
    background: #1890ff;
    color: white;
    padding: 10px 30px;
    display: table;
    font-size: 1.25rem;
    border-radius: 3px;
}

.primary-btn:hover {
    color: white;
    background: #0b77da;
}

.simple-content p {
    font-size: 1rem;
    color: #333;
}

.simple-content p:first-child {
    color: #a0a0a0;
}

.simple-content h2 {
    margin: 10px 0;
    font-size: 1.75rem;
}

.simple-content .primary-btn {
    margin-top: 20px;
}

.simple-content-image {
    border-radius: 3px;
}

@media (max-width: 991px) {
    .simple-content {
        margin-top: 20px;
    }
}

.video {
    border-radius: 3px;
}

input[type="text"] {
    border: none;
    width: 300px;
    padding: 13px 20px;
    border-radius: 50px;
}

input.submit-btn {
    padding: 10px 30px;
    margin-left: 50px;
    border-radius: 50px;
    background: #9e53fd;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 575px) {
    input.submit-btn {
        margin-left: 0;
    }
}

.newsletter h3 {
    color: white;
    font-weight: 700;
}

.newsletter p {
    color: white;
}

.newsletter form {
    position: relative;
    z-index: 1;
}

@media (max-width: 991px) {
    .newsletter form {
        display: table;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .newsletter form .ant-row-flex {
        justify-content: center;
    }
}

#newsletter {
    position: relative;
}

@media (max-width: 991px) {
    #newsletter {
        padding: 0 !important;
        text-align: center;
    }
}

#newsletter .ant-col {
    min-height: 100px !important;
}

@media (max-width: 991px) {
    #newsletter .ant-col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 575px) {
    #newsletter .ant-col {
        min-height: 120px !important;
    }
}

.right-half-color {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

@media (max-width: 991px) {
    .right-half-color {
        top: 48%;
        left: 0;
        width: 100%;
        height: 52%;
    }
}

video {
    max-width: 100%;
}

@media (max-width: 991px) {
    video {
        height: auto !important;
    }
}


.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}